.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# result and log folders 
results/
eval/Coding/livecodebench/LiveCodeBench-main/results/

# venv
virtual_envs/

# large data file
eval/SciCode/eval/data/test_data.h5